body{
  font-family: sans-serif;
  color-scheme: light dark;
  color: rgba(255,255,255,0.87 green, blue, alpha);
  background-color: #242424;
  margin:0;
  display: flex;
  padding:20px;
  min-width: 320px;
  min-height: 100vh;

}

.container {
  display: flex;
  flex-direction: column;
  
}